body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 150%;
	text-align: center;
	background: #ffe7cd url("../images/grand-canyon1.jpg") no-repeat fixed center center;
}
#wrapper {
	width: 900px;
	margin: 10px auto;
	text-align: left;
  color: #36230f;
}
#feature {
  width: 450px;
  text-align: justify;
}
img {
  width: 590px;
  height: 332px;
  border: 2px solid #6b3e12;
  float: right;
}
